<h1>Current text list, ordered by Situation</h1>
	<ul class="unstyled">
		<% @texts.each do |text| %>
		<li class="text">
			<span class="item">
				<%=h text.sit %>
			</span>
			<span class="pull-right">
				<a href="/edit/<%= text.id %>" class="btn btn-primary">Edit text</a>
				<a href="/delete/<%= text.id %>" class="btn btn-danger">Delete text</a>
			</span>
		</li>
		<% end %>
	</ul>
	<a href="/new" class="btn btn-primary">New topic</a>
	<span class="pull-right">
		<a href="/random" class="btn btn-primary">Try to organize</a>
	</span>