<div>
<h1>New Text</h1>
  <div>
  <form action="/new" method="post">
  	<div>
      <label for="sit">Situation:</label><br>
      <textarea rows="3" cols="50" name="texts[sit]" placeholder="Enter situation here..."></textarea>
    </div>
    <div>
      <label for="pro">Problem:</label><br>
      <textarea rows="3" cols="50" name="texts[pro]" placeholder="Enter problem here..."></textarea>
    </div>
    <div>
    	<label for="sol">Solution:</label><br>
      <textarea rows="3" cols="50" name="texts[sol]" placeholder="Enter solution here..."></textarea>
    </div>
    <div>
    	<label for="imp">Implications:</label><br>
      <textarea rows="3" cols="50" name="texts[imp]" placeholder="Enter implications here..."></textarea>
    </div>
    <div>
    	<label for="eva">Evaluation:</label><br>
      <textarea rows="3" cols="50" name="texts[eva]" placeholder="Enter evaluation here..."></textarea>
    </div>

      <button type="submit" class="btn btn-success">Save</button>
    </form>
  </div>
</div>