<!DOCTYPE HTML>
<head>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="/jquery.ui.touch-punch.min.js"></script>
  <link rel="stylesheet" href="/custom.css">

</head>
<body>

<div class="header">
       <h1>SPSIE DEMO</h1>
    </div>
<div class="container">
<h1>This is a list of all the entries in the database. Please choose to add a new one, edit one, select one to organize, or organize a random one.</h1>

<ul class="target" id="sortable">
	<li class="ui-state-default" id="sit"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>I am a doctor</li>
	
</ul>
</div>
</body>
</html>