<div class="wrapper">
	<h1>This will help you practice the correct organization of the the SPSIE Pattern</h1>
	<div class="big-left">
      <div class="column-left">
	    	  <div class="txt">
        	</div>
        	<a class="enter" href="/list"><h1>See the list of texts</h1></a>
        	<br>
        	<a class="rand" href="/random"><h1>See a random jumble</h1></a>
	    </div>
  </div>

  <div class="big-right">
	      <div class="column-center">
	    	      <div class="boxes">
             	     <h1>The boxes animation goes here</h1>
        	  	</div>
	      </div>

	      <div class="column-right">
	    	      <div class="sample">
                   <h1>The text sample will be here</h1>
              </div>
      	</div>
  </div>



</div>